<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thisfunctionapp202204.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/204bc921-bc4d-48f1-8315-a3c1c3b885c3/resourceGroups/AzureChallengeGitHubActionsRG/providers/Microsoft.Web/sites/ThisFunctionApp202204</ResourceId>
    <UserName>$ThisFunctionApp202204</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://thisfunctionapp202204.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>